@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  font-family: 'Gloock', serif;
}

/* navbar */


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  border-bottom: 3px solid black;

  padding: 50px;
}

.navbar__ul {
  display: flex;
  flex-direction: row;
  align-items: center;


  list-style: none;
}

.navbar__ul>a {
  text-decoration: none;

  margin-right: 25px;
}

.navbar__ul>a:visited {
  color: black;
}

/* home */

.home {
  padding-top: 20px;
}

.home__h {
  text-align: center;

  margin-bottom: 20px;
}

.home__p {
  margin: 0px 35px;
  padding-top: 35px;
}

/* Bloglist */

.container {
  padding: 15px;
  margin: 0px 15px;
}

.container:hover {
  box-shadow: 2px 2px 5px grey;
}

.container__link {
  text-decoration: none;
  color: black;
}

.container__link:hover {
  color: rgba(0, 0, 0, 0.678);
}

.container__link:active {
  color: rgb(0, 0, 0);
}

/* BlogInfo */

.infocontainer {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 30px;
}

.infocontainer__title {
  margin-bottom: 30px;
}

.infocontainer__content {
  word-wrap: break-word;

  width: 500px;
  margin-bottom: 30px;
}

.infocontainer__author {
  margin-bottom: 30px;
}

.infocontainer button {
  all: unset;

  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.infocontainer button:hover {
  background-color: rgba(0, 0, 0, 0.237);
}


.infocontainer button:active {
  background-color: white;
}


/* Create */

.formcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}

.formcontainer__title+input {
  margin-bottom: 30px;
}

.formcontainer__content+textarea {
  margin-bottom: 30px;
}

.formcontainer__author+select {
  margin-bottom: 30px;
}